
.filter-group {
    margin-bottom: 1rem;
}

.filter-group label,
.filter-group input,
.filter-group select {
    display: inline-block;
    vertical-align: middle;
}
.filter-group input,
.filter-group select {
    margin-left: 10px;
}

.small-input {
    width: 90px; /* Adjust the width to be smaller */
    height: 30px;
}
